# クイックソート
※令和5年 サンプル問題 問3

---
[Google Colaboratoryで開く](https://colab.research.google.com/github/202408pythonciot/IPA_Exam/blob/main/FE/Section_B/2023_sample/2023_FE_sample_B_Q3.ipynb)

<a target="_blank" href="https://colab.research.google.com/github/202408pythonciot/IPA_Exam/blob/main/FE/Section_B/2023_sample/2023_FE_sample_B_Q3.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

---

## **<font color= "#a00">問題</font>**
> 次の記述中の ［　　　］に入れる正しい答えを，解答群の中から選べ。ここで，配列の要素番号は 1 から始まる。
>
> 次の手続 sort は，大域の整数型の配列 data の，引数 first で与えられた要素番号から引数 last で与えられた要素番号までの要素を昇順に整列する。ここで，first ＜ last とする。手続 sort を sort(1, 5) として呼び出すと，/\*\** α ***/ の行を最初に実行したときの出力は“ ［　　　］となる。


```
01 大域: 整数型の配列: data ← {2, 1, 3, 5, 4}
02
03 ○sort(整数型: first, 整数型: last)
04   整数型: pivot, i, j
05   pivot ← data[(first ＋ last) ÷ 2 の商]
06   i ← first
07   j ← last
08
09   while (true)
10     while (data[i] ＜ pivot)
11       i ← i ＋ 1
12     endwhile
13     while (pivot ＜ data[j])
14       j ← j － 1
15     endwhile
16     if (i ≧ j)
17       繰返し処理を終了する
18     endif
19     data[i]とdata[j]の値を入れ替える
20     i ← i ＋ 1
21     j ← j － 1
22   endwhile
23   dataの全要素の値を要素番号の順に空白区切りで出力する /*** α ***/
24   if (first ＜ i － 1)
25     sort(first, i － 1)
26   endif
27   if (j ＋ 1 ＜ last)
28     sort(j + 1, last)
29   endif
```


**選択肢**
- ア　　1 2 3 4 5
- イ　　1 2 3 5 4
- ウ　　2 1 3 4 5
- エ　　2 1 3 5 4

<details>
<summary>
<font color= "#a00" size="+1"><b>正解</b></font>


</summary>


**正解**
- エ　　2 1 3 5 4

**解説**

トレース表を書いてみます


</details>

sort(1, 5)

| 実行行 | 実行内容  | 配列dataの値 | pivotの値 | iの値 | jの値 |
| --- | --- | --- | --- | --- | --- |
| 05 pivot ← data[(first ＋ last) ÷ 2 の商] | data[(1+5)/2]，すなわちdata[3]の値をpivotに代入 | [2, 1, 3, 5, 4] | 3 | 不定 | 不定 |
| 06 i ← first | firstの値をiに代入 | [2, 1, 3, 5, 4] | 3 | 1 | 不定 |
| 07 j ← last | lastの値をjに代入 | [2, 1, 3, 5, 4] | 3 | 1 | 5 |
| 09 while (true) | 無限ループに入る | [2, 1, 3, 5, 4] | 3 | 1 | 5 |
| 09 while (data[i] ＜ pivot) | data[i] < pivot，すなわち data[1] < pivot が真なのでループに入る | [2, 1, 3, 5, 4] | 3 | 1 | 5 |
| 09 i ← i ＋ 1 | iの値を1加算 | [2, 1, 3, 5, 4] | 3 | 2 | 5 |
| 09 while (data[i] ＜ pivot) | data[i] < pivot，すなわち data[2] < pivot が真なのでループに入る | [2, 1, 3, 5, 4] | 3 | 2 | 5 |
| 09 i ← i ＋ 1 | iの値を1加算 | [2, 1, 3, 5, 4] | 3 | 3 | 5 |
| 09 while (data[i] ＜ pivot) | data[i] < pivot，すなわち data[3] < pivot が偽なのでループを抜ける | [2, 1, 3, 5, 4] | 3 | 3 | 5 |
| 09 while (pivot ＜ data[j]) | pivot < data[j]，すなわち pivot < data[5] が真なのでループに入る | [2, 1, 3, 5, 4] | 3 | 3 | 5 |
| 09 j ← j － 1 | iの値を1減算 | [2, 1, 3, 5, 4] | 3 | 3 | 4 |
| 09 while (pivot ＜ data[j]) | pivot < data[j]，すなわち pivot < data[4] が真なのでループに入る | [2, 1, 3, 5, 4] | 3 | 3 | 4 |
| 09 j ← j － 1 | iの値を1減算 | [2, 1, 3, 5, 4] | 3 | 3 | 3 |
| 09 while (pivot ＜ data[j]) | pivot < data[j]，すなわち pivot < data[3] が真なのでループに入る | [2, 1, 3, 5, 4] | 3 | 3 | 3 |
| 09 j ← j － 1 | iの値を1減算 | [2, 1, 3, 5, 4] | 3 | 3 | 2 |
| 09 while (pivot ＜ data[j]) | pivot < data[j]，すなわち pivot < data[2] が偽なのでループを抜ける | [2, 1, 3, 5, 4] | 3 | 3 | 2 |
| 09 if (i ≧ j) | 条件式が真 | [2, 1, 3, 5, 4] | 3 | 3 | 2 |
| 09 繰返し処理を終了する | 繰返し処理を終了する | [2, 1, 3, 5, 4] | 3 | 3 | 2 |
| 09 dataの全要素の値を要素番号の順に空白区切りで出力する | dataの全要素の値を要素番号の順に空白区切りで出力する | [2, 1, 3, 5, 4] | 3 | 3 | 2 |

従って，最初にα行で表示される配列dataは" 2 1 3 5 4 "になります。

### Pythonでの実装例

In [ ]:
data = [2, 1, 3, 5, 4]

def sort(first, last):
  pivot = data[(first + last) // 2 - 1]
  i = first
  j = last
  while True:
    while data[i-1] < pivot:
      i += 1
    while pivot < data[j-1]:
      j -= 1
    if i >= j:
      break
    data[i-1], data[j-1] = data[j-1], data[i-1]
    i += 1
    j -= 1
  print(data)
  if first < i - 1:
    sort(first, i - 1)
  if j + 1 < last:
    sort(j + 1, last)

sort(1, 5)

[2, 1, 3, 5, 4]
[1, 2, 3, 5, 4]
[1, 2, 3, 4, 5]